<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
<div class="container">
  <a href="/" class="navbar-brand">NAMARUNU</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
      <li class="nav-item mx-5">
        <a href="/products" class="nav-link">Products</a>
      </li>
      <li class="nav-item mx-5">
        <a href="/pricing" class="nav-link">Pricing</a>
      </li>
      <li class="nav-item dropdown">
		   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  Support  </a>
		    <ul class="dropdown-menu">
			  <li><a class="dropdown-item" href="/blog"> <strong>Namarunu Help Centre</strong> <br> multiple detailed articles</a></li>
			  <li><a class="dropdown-item" href="mailto:namarunu@gmail.com?subject=Inquiry about your products"> <strong>namarunu@gmail.com</strong> <br> Expert support 24/7</a></li>
		    </ul>
		</li>
      <li class="nav-item mx-5">
      </li>
      <!-- <li class="nav-item mx-5">
        <a class="nav-link" href="#">Learn</a>
      </li> -->
    </ul>
    <button type="button" name="button" class="btn btn my-2 my-sm-0 g-button">Get started</button>
  </div>
</div>
</nav>
