@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600&family=Nunito:wght@900&family=Roboto:wght@300;700&display=swap");

body {
  font-family: "Nunito Sans", sans-serif !important;
}
.body {
  overflow-x: hidden;
  position: relative;
}
@media screen and (max-width: 1300px) {
  body {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 480px) {
  .part-one {
    .content-left {
      padding-top: 40px;
    }
  }
  .jumbo {
    width: 80% !important;
  }
  .navbar {
    .mx-5 {
      margin-left: 0rem !important;
      margin-right: 0rem !important;
    }
  }


  .part-two {
    .p2 {
      padding-top: 35px !important;
    }
  }
  .zm {
    padding-top: 35px;
  }
  .st-one {
    p {
      width: 90% !important;
    }
  }
  .st-one-b {
    p {
      width: 90% !important;
    }
  }
  .st-four {
    #text-e {
      width: 90% !important;
    }
  }
  .pricing-column {
    width: 100% !important;
  }
  .pricing-extra-content {
    width: 100% !important;
  }
  .faq {
    width: 100% !important;
  }
}
// LANDING PAGE
.navbar {
  .navbar-brand {
    color: #31de79 !important;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
  }
  .nav-item {
    .nav-link {
      color: #0a0101;
    }
  }
  .nav-item:hover {
    color: #31de79 !important;
  }
  .g-button {
    color: #0a0101 !important;
    background-color: #31de79 !important;
  }

}
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
.main-content {
  .part-one {
    margin-left: 30px;
    margin-right: 30px;
    .content-left {
      h1 {
        line-height: 1.3;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        span {
          border: 1px solid black;
          border-color: #31de79;
          padding: 3px;
          background-color: #31de79;
        }
      }
      .l-button {
        background-color: #2d4053;
        color: white;
      }
    }
    .image-right {
      padding-top: 40px;
    }
  }
  .part-two {
    padding-top: 70px;
    h3 {
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
    }
    h4 {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
    }
    .jumbo {
      padding-top: 10px;
      text-align: center;
      width: 60%;
      margin: 0 auto;
    }
    #tw {
      width: 20%;
      background-color: #31de79;
      height: 1px;
    }
    .content-two {
      padding: 30px;
      padding-top: 150px;
      .pn {
        color: #31de79;
      }
      .p2 {
        padding-top: 100px;
      }
    }
  }
  .part-three {
    padding-top: 70px;
    margin-left: 30px;
    margin-right: 30px;
    h3 {
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
    }
    #tw {
      width: 20%;
      background-color: #31de79;
      height: 1px;
    }
    .p2 {
      background-color: #31de79;
      margin-top: 100px;
      padding-top: 20px;
      padding-bottom: 20px;
      margin: 0 auto;
      color: white;
    }
    .text {
      text-align: center;
      padding-top: 25px;
      padding-bottom: 30px;
      font-family: "Roboto", sans-serif;
      font-style: italic;
    }
    ul {
      font-weight: 600;
      h4 {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
      }
      .l-button {
        color: white;
        font-weight: 700;
      }
    }
  }
}
// THIS IS REUSED IN OTHER PARTS
.part-four {
  padding-top: 70px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  font-weight: 700;
  h3 {
    font-weight: 700;
  }
  ul {
    display: inline-block;
    list-style-type: none;
    padding-top: 20px;
    li {
      float: left;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .g-button {
    background-color: #31de79;
    color: white;
    margin-top: 10px;
  }
}
//PRODUCTS PAGE
.products-page {
  padding-top: 65px;
  h1 {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    padding-bottom: 14px;
  }
  .intro {
    text-align: center;
    width: 65%;
    margin: 0 auto;
  }
  .namarunu-store {
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #f76c6c;
  }
  .web-admin {
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #31de79;
  }
  .startup-package {
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #1b4066;
    .price {
      color: white;
    }
    .check-list {
      color: white;
    }
    .free-trial-button {
      background-color: #31de79;
      color: #1b4066;
    }
    .product-link {
      color: white !important;
    }
  }
  .name {
    color: white;
    font-size: 2rem;
    font-weight: 600;
  }
  .price {
    font-weight: 400;
    color: #3d4d5c;
    font-weight: bolder;
  }
  .check-list {
    color: #3d4d5c;
    font-weight: bolder;
  }
  .free-trial-button {
    background-color: #3d4d5c;
    color: white;
    margin-top: 18px;
    margin-bottom: 9px;
  }
  .product-link {
    text-decoration: none !important;
    color: inherit !important;
  }
  .hr-line {
    margin-top: 55px;
    margin-bottom: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #ebebeb;
    hr {
      width: 20%;
      margin: 0 auto;
      background-color: #31de79;
    }
    h2 {
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
    }
  }
  .icon-section {
    padding: 4rem;
    text-align: center;
    p {
      padding-top: 1rem;
    }
    .package-icon {
      border-radius: 10%;
      max-width: 100px;
      max-height: 100px;
    }
  }
}
@media screen and (max-width: 425px) {
  .products-page {
    h1 {
      width: 100%;
    }
    .intro {
      width: 95%;
    }
    .icon-section {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

// PRODUCT PAGE (Namarunu-store)
.st-one {
  text-align: center;
  padding-top: 180px;
  padding-bottom: 180px;
  background-image: linear-gradient(
      rgba(247, 108, 108, 0.8),
      rgba(247, 108, 108, 0.9)
    ),
    url("../images/Products-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 600;
  color: #f5f5f5;
  h1 {
    line-height: 1.3;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }
  p {
    padding-top: 20px;
    width: 50%;
    margin: 0 auto;
  }
  .st-g-button {
    margin-top: 20px;
    background-color: #2d4053;
    color: white;
  }
}
// WEB ADMINISTRATION
.st-one-b {
  text-align: center;
  padding-top: 180px;
  padding-bottom: 180px;
  background-image: linear-gradient(
      rgba(49, 222, 121, 0.8),
      rgba(49, 222, 121, 0.9)
    ),
    url("../images/Products-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 600;
  color: #f5f5f5;
  h1 {
    line-height: 1.3;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }
  p {
    padding-top: 20px;
    width: 50%;
    margin: 0 auto;
  }
  .st-g-button {
    margin-top: 20px;
    background-color: #2d4053;
    color: white;
  }
}
// STARTUP PACKAGE
.st-c {
  background-image: linear-gradient(
      rgba(27, 64, 102, 0.8),
      rgba(27, 64, 102, 0.9)
    ),
    url("../images/Products-banner.png") !important;
}
.st-two {
  .content-two {
    padding: 30px;
    padding-top: 150px;
  }
  h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }
}
.st-three {
  padding: 30px;
  padding-top: 70px;
  .box {
    padding: 24px 24px 0;
    border-radius: 4px;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .b-one {
    background-color: #fc7753;
  }
  .b-two {
    background-color: #66d7d1;
  }
  .b-three {
    background-color: #f1bf98;
  }
  .b-four {
    background-color: #d6e5e3;
  }
  .b-five {
    background-color: #9fd8cb;
  }
  .b-six {
    background-color: #eee5e9;
  }
  .b-seven {
    background-color: #6b818c;
  }
  .b-eight {
    background-color: #7dcd85;
  }
  .b-nine {
    background-color: #faa6ff;
  }
  .b-ten {
    background-color: #9ceaef;
  }
  .b-eleven {
    background-color: #c59fc9;
  }
  .b-twelve {
    background-color: #73a6ad;
  }
  .content {
    display: none;
  }
  .pc-2 {
    margin-top: 110px;
  }
  .pc-3 {
    margin-top: 110px;
  }
  h5 {
    padding-top: 75px;
    span {
      float: right;
    }
  }
}
.st-four {
  padding: 30px;
  padding-top: 70px;
  text-align: center;
  h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }
  #text-e {
    width: 50%;
    margin: 0 auto;
  }
  #to {
    width: 20%;
    background-color: #31de79;
    height: 1px;
  }
  .pricing-column {
    padding-top: 80px;
    width: 80%;
    margin: 0 auto;
    .pricing-box {
      padding-top: 30px;
      #number {
        font-size: 30px;
      }
    }
    .value {
      background-color: #31de79;
      color: white;
    }
    .plan-features {
      text-align: left;
      width: 80%;
      margin: 0 auto;
      padding-bottom: 20px;
    }
  }
  .pricing-extra-content {
    padding-top: 30px;
    width: 80%;
    text-align: left;
    li {
      font-size: 13px;
    }
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 29px;
  left: 10px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #31de79;
}

input:focus + .slider {
  box-shadow: 0 0 1px #31de79;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.monthly {
  display: none;
}
.st-five {
  padding: 30px;
  padding-top: 70px;
  #tp {
    width: 20%;
    background-color: #31de79;
    height: 1px;
  }
  h3 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }
  .faq {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    cursor: pointer;
    .q-one {
      padding: 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
    .q-n {
      padding: 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
    .q-l {
      padding: 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
    #plus {
      float: right;
    }
    .content-f {
      display: none;
    }
  }
}
// wizard-steps-layout
.wizard-steps-layout {
  padding-top: 100px;
  padding-bottom: 100px;
  p {
    text-align: center;
    padding-bottom: 25px;
  }
  h3 {
    text-align: center;
    padding-bottom: 20px;
  }
  form {
    margin: 0 auto;
    width: 80%;
  }
  .next-button {
    float: right;
  }
  .preffered_name {
    display: none;
  }
}
// BLOG STYLING
.blog-nav {
  background-color: #31de79;
  padding-top: 45px;
  padding-bottom: 45px;
  color: white;
  .blog-brand {
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 25px;
  }
  .search-input {
    width: 100%;
    padding: 20px 32px 21px 59px;
    background: rgba(255,255,255,0.2);
    border: none;
    outline: none;
    color: rgba(255,255,255,0.7);
    font-size: 18px;
    border-radius: 4px;
  }
}
.main-blog-content {
  background-color: #f3f5f7;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  .custom-card {
    margin-top: 16px;
    background-color: #ffff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding-top: 25px;
    padding-bottom: 25px;
    .bc-name {
      color: #31de79;
    }
  }
  .custom-card-link {
    color: #4f5e6b;
    text-decoration: none;
  }
  .card-custom-3 {
      margin-top: 1px;
      background-color: #ffff;
      border: 1px solid rgba(0,0,0,.125);
      border-radius: .25rem;
      padding-top: 25px;
      padding-bottom: 25px;
      .bc-name {
        color: #31de79;
      }
  }
}
.blog-footer {
  background-color: #ffff;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #a3abb5;
  .blog-brand {
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
  }
  .links {
    text-align: center;
    a{
      padding-left: 4px;
      padding-right: 4px;
      color: #a3abb5;
    }
  }
}
footer {
  background-color: black;
  color: white;
  padding-top: 60px;
  padding: 40px;
  margin-top: 50px;
  h4 {
    font-weight: 600;
  }
  p {
    font-size: 14px;
  }
  .cn {
    text-align: center;
  }
}
.us {
  display: none;
}
.tz {
  display: none;
}
